@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = ResourceFiles.Resources.LockedOut;
}

<hgroup>
    <h1 class="text-danger">@ResourceFiles.Resources.LockedOut .</h1>
    <h2 class="text-danger">@ResourceFiles.Resources.LockedOutMain .</h2>
</hgroup>
